.mainContainer {
    min-height: 100vh;
    background-image: url("../../assets/png/myStatusCase.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleContainer {
    color: white;
    margin-left: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0 0 14px;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}


.text {
    font-size: 1.2em;
    text-align: justify;
    font-style: italic;
}

.coverText {
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    font-size: 12em;
    font-family: "Times New Roman", serif;
    font-style: italic;
    bottom: -63px;
    left: 20%;
}

.workDescription {
    margin: 0;
    max-width: 500px;
    font-size: 1em;
    word-spacing: 5px;
    text-align: justify-all;
    line-height: 28px;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
}

.workDescription strong {
    color: #00c8e7;
}
