.container {
    height: 100vh;
    background-color: #1C1D25;
}

.contentContainer {
    height: 80%;
    display: flex;
    align-items: center;
}

.name {
    font-size: 4em;
    color: white;
    text-align: left;
    font-family: League Spartan, Helvetica, Arial, serif;
    font-weight: bolder;
    margin-bottom: 10px;
}

.description {
    text-align: left;
    color: white;
    font-size: 1.2em;
    font-style: italic;
}

.nameContainer {
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    align-self: flex-start;
}

.logoContainer {
    top: 25%;
    left: 40%;
    object-fit: cover;
    position: absolute;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    gap: 35px;
}

.icon {
    cursor: pointer;
    transition: 0.4s;
}

.icon:hover path {
    fill: white;
    transition: 0.4s;
}