.modalWork {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalWork.active {
    opacity: 1;
    z-index: 10;
}

.buttonBox {
    margin-top: 25px;
}


.cardModalContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-open {
    overflow: hidden;
}

.cardModalContainer::-webkit-scrollbar {
    display: none;
}