.container {
    background: linear-gradient(to left, #4f298c, #1b1f2d);
    min-height: 60vh;
}

.title {
    font-size: 5.3em;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
    text-align: justify;
    font-weight: 1000;
}

.titleContainer {
    display: flex;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.macImg {
    width: 302px;
    height: 300px;
    object-fit: fill;
}

.titleContent {
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 5.3em;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
    text-align: justify;
    font-weight: 1000;
}

.description {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 2em;
    margin-top: 13px;
    font-style: italic;
    color: white;
    font-weight: 500;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

.workDescription {
    margin: 0;
    max-width: 500px;
    font-size: 1em;
    word-spacing: 5px;
    text-align: justify-all;
    line-height: 28px;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
}

.workDescription strong {
    color: #7AAC2D;
}
