.container {
    background-color: #1b1f2d;
    min-height: 60vh;
}

.macImg {
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.titleContainer {
    display: flex;
    /*flex-direction: column;*/
    height: 900px;
    justify-content: center;
    align-items: center;
}

.titleContainerMob {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 5.3em;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    margin: 0;
    color: white;
    text-align: justify;
    font-weight: 1000;
}

.titleContent {
    padding-right: 90px;
}

.titleContentMob {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.description {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 2em;
    margin-top: 13px;
    font-style: italic;
    color: white;
    font-weight: 500;
}

.workDescriptionBox {
    display: flex;
    justify-content: center;
}

.workDescription {
    margin: 0;
    max-width: 500px;
    min-width: 300px;
    font-size: 1em;
    /*background-color: red;*/
    word-spacing: 5px;
    text-align: justify-all;
    line-height: 28px;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
}

.workDescription strong {
    color: #f06449;
}

